#container {
    width: 200px;
    margin: auto;
}

.block1{
    background-color: aliceblue;
    border: 3px solid red;
}

.block2{
    background-color: antiquewhite;
    border: 3px solid red;
}

.inline1{
    background-color: aqua;
    border: 3px solid red;
}

.inline2{
    background-color: fuchsia;
    border: 3px solid red;
}